<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <meta name="google-site-verification" content="n_PXgv5C68WUrh8UWoCOOXEAszN4ghjA7pCp25-IgHc" />
        <link href="atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" />
    </head>
    <body>
        <div id="container">
            <div id="title">
                <a href="/">Krzysztof Grodzicki</a>
            </div>
            <div class="hrBox"></div>
            {% if page.type == 'blog' %}
            <h1>{{ page.title }}</h1>
            <p>&laquo; <a href="/">index</a></p>
            {% endif %}

            {{ content }}
            <div class="hrBox"></div>
            {% include footer.html %}
        </div>

        {% include scripts.html %}
    </body>
</html>

